body {
	margin:0 5px;
	padding:0;
}

pre#n {
	font-family: "Ubuntu Mono";
	margin:0;
	font-size:13px;
}

a {
	text-decoration:underline;
	color:inherit;
}

a:hover {
	text-decoration:none;
}

span.statement-c-1 {
	background-color: #FF6B6B;
}

span.statement-c0 {
	background-color: transparent;
}

span.statement-c1 {
	background-color: #DBFFD8;
}

span.statement-c2 {
	background-color: #D8FFFF;
}

span.statement-c3 {
	background-color: #D8E8FF;
}

span.statement-c4, span.statement-c5 {
	background-color: #FFF2D8;
}

span.statement-c6 {
	background-color: #FFFED8;
}

span.statement-c7 {
	background-color: #FFE3D8;
}

span.statement-c8 {
	background-color: #F3D8FF;
}

span.statement-c9, span.statement-c10 {
	background-color: #EFFFD8;
}

span.statement-c11 {
	background-color: #D8FFE5;
}

span.statement-c12 {
	background-color: #FFD8EF;
}

span.statement-c13 {
	background-color: #DDDDDD;
}

span.yin-yang-small {
	font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	width:7px;
	display:inline-block;
	font-size:9px;
	line-height:12px;
	height:12px;
}

span.yin-yang-large {
	font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	width:14px;
	display:inline-block;
	font-size:15px;
	line-height:12px;
	height:12px;
}